:root {
    line-height: 1.5;
    background-color: var(--bg0);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    scrollbar-width: none;
    color: var(--text1);




    --smallPadding: 10px;
    --medPadding: 20px;
    --bigPadding: 30px;

    --border-radius: 0px;
    --uiPadding: 20px;

    font-family: "Roboto";

    --dot-space: 25px;
    --dot-size: 1px;


    --themeHue: 95;

    --main0: hsl(var(--themeHue), 40.952%, 17%);
    --main1: hsl(var(--themeHue), 39.667%, 25%);
    --main2: hsl(var(--themeHue), 38.075%, 33%);
    --main3: hsl(var(--themeHue), 36.051%, 41%);
    --main4: hsl(var(--themeHue), 33.392%, 49%);
    --main5: hsl(var(--themeHue), 29.744%, 57%);
    --main6: hsl(var(--themeHue), 24.429%, 65%);
    --secondary0: hsl(146, 40.952%, 17%);
    --secondary1: hsl(146, 39.667%, 25%);
    --secondary2: hsl(146, 38.075%, 33%);
    --secondary3: hsl(146, 36.051%, 41%);
    --secondary4: hsl(146, 33.392%, 49%);
    --secondary5: hsl(146, 29.744%, 57%);
    --secondary6: hsl(146, 24.429%, 65%);
    --warn0: hsl(50, 87.952%, 17%);
    --warn1: hsl(50, 86.667%, 25%);
    --warn2: hsl(50, 85.075%, 33%);
    --warn3: hsl(50, 83.051%, 41%);
    --warn4: hsl(50, 80.392%, 49%);
    --warn5: hsl(50, 76.744%, 57%);
    --warn6: hsl(50, 71.429%, 65%);
    --fail0: hsl(360, 87.952%, 17%);
    --fail1: hsl(360, 86.667%, 25%);
    --fail2: hsl(360, 85.075%, 33%);
    --fail3: hsl(360, 83.051%, 41%);
    --fail4: hsl(360, 80.392%, 49%);
    --fail5: hsl(360, 76.744%, 57%);
    --fail6: hsl(360, 71.429%, 65%);
    --bg0: hsl(var(--themeHue), 3.362%, 6%);
    --bg1: hsl(var(--themeHue), 2.581%, 12.4286%);
    --bg2: hsl(var(--themeHue), 1.676%, 18.8571%);
    --bg3: hsl(var(--themeHue), 0.616%, 25.2857%);
    --bg4: hsl(var(--themeHue), 0%, 31.7143%);
    --bg5: hsl(var(--themeHue), 0%, 38.1429%);
    --bg6: hsl(var(--themeHue), 0%, 44.5714%);
    --bg7: hsl(var(--themeHue), 0%, 51%);
    --text0: hsl(var(--themeHue), 0%, 94%);
    --text1: hsl(var(--themeHue), 0%, 87.5714%);
    --text2: hsl(var(--themeHue), 0%, 81.1429%);
    --text3: hsl(var(--themeHue), 0%, 74.7143%);
    --text4: hsl(var(--themeHue), 0%, 68.2857%);
    --text5: hsl(var(--themeHue), 0%, 61.8571%);
    --text6: hsl(var(--themeHue), 0%, 55.4286%);
    --text7: hsl(var(--themeHue), 0%, 49%);













}

.light {
    --bg0: hsl(var(--themeHue), 3.362%, 93%);
    --bg1: hsl(var(--themeHue), 2.581%, 86.4286%);
    --bg2: hsl(var(--themeHue), 0%, 79.8571%);
    --bg3: hsl(var(--themeHue), 0%, 73.2857%);
    --bg4: hsl(var(--themeHue), 0%, 66.7143%);
    --bg5: hsl(var(--themeHue), 0%, 60.1429%);
    --bg6: hsl(var(--themeHue), 0%, 53.5714%);
    --bg7: hsl(var(--themeHue), 0%, 47%);
    --text0: hsl(var(--themeHue), 3.247%, 7%);
    --text1: hsl(var(--themeHue), 2.673%, 11.7143%);
    --text2: hsl(var(--themeHue), 2.034%, 16.4286%);
    --text3: hsl(var(--themeHue), 1.319%, 21.1429%);
    --text4: hsl(var(--themeHue), 0.513%, 25.8571%);
    --text5: hsl(var(--themeHue), 0%, 30.5714%);
    --text6: hsl(var(--themeHue), 0%, 35.2857%);
    --text7: hsl(var(--themeHue), 0%, 40%);
    --dot-space: 15px;
    --dot-size: 1.5px;
}

@font-face {
    font-family: "Roboto";
    src: url("/Roboto.ttf");
}

@font-face {
    font-family: "OldLondon";
    src: url("/OldLondon.otf");
}

.oldLondon {
    font-family: "OldLondon" !important;
}

* {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    font-family: "Roboto";

}

button,
input,
p,
h1 {
    color: var(--text1);
}

.invis {
    scale: 0;
    position: fixed;
}

input,
textarea {
    touch-action: manipulation;
}

.svgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    color: var(--text1);
}

.uiMain {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    place-items: center;
    padding: var(--uiPadding);

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 0px;
    -ms-overflow-style: none;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollOverflow {
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;

    scrollbar-width: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

p {
    margin: 0px;
}

.bb1 {
    background-color: var(--bg0);
    border: 1px solid var(--bg1);
    border-radius: var(--border-radius);
}

.bb2 {
    background-color: var(--bg1);
    border: 1px solid var(--bg2);
    border-radius: var(--border-radius);
}

.bb3 {
    background-color: var(--bg2);
    border: 1px solid var(--bg3);
    border-radius: var(--border-radius);
}

.btn {
    padding: 10px;
    display: flex;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color .25s;
    font-size: 14px;
    align-items: center;
    gap: 7px;
    border: 0px;
}

.btn.bb1:hover {
    background-color: var(--bg1);
}

.btn.bb2:hover {
    background-color: var(--bg2);
}

.btn.bb3:hover {
    background-color: var(--bg3);
}

.bq {
    border-left: 4px solid var(--bg3);
    color: var(--text1);
    white-space: pre-wrap;
    padding-left: 15px;
    font-style: italic;
}

.bdg {
    padding: 2px 5px 2px 5px;
    width: fit-content;
    border-radius: 100px;
}

@keyframes loading {
    from {
        rotate: 0deg
    }

    to {
        rotate: 360deg
    }
}

.loading {
    animation: 1.5s loading infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-5px);
    }

    66% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake:hover {
    animation: .5s shake forwards;

}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-5deg);
    }

    66% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.wiggle:hover {
    animation: wiggle .5s;
}

/* Generated CSS */
.main {
    background-color: var(--main3);
}

.btn.main:hover {
    background-color: var(--main4);
}

.bdg.main {
    background-color: var(--main2);
    color: var(--main6);
    border: 1px solid var(--main5);
}

.secondary {
    background-color: var(--secondary3);
    border: 1px solid var(--secondary4);
}

.btn.secondary:hover {
    background-color: var(--secondary4);
}

.bdg.secondary {
    background-color: var(--secondary2);
    color: var(--secondary6);
    border: 1px solid var(--secondary5);
}

.warn {
    background-color: var(--warn3);
    border: 1px solid var(--warn4);
}

.btn.warn:hover {
    background-color: var(--warn4);
}

.bdg.warn {
    background-color: var(--warn2);
    color: var(--warn6);
    border: 1px solid var(--warn5);
}

.fail {
    background-color: var(--fail3);
    border: 1px solid var(--fail4);
}

.btn.fail:hover {
    background-color: var(--fail4);
}

.bdg.fail {
    background-color: var(--fail2);
    color: var(--fail6);
    border: 1px solid var(--fail5);
}

.nonSelectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}